@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* You can replace 400 with your desired weight */
    font-style: normal;
  }
}
